{%load crispy_forms_tags%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dear Diary</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-light fixed-top">
        <h3 style="letter-spacing : 2px;"><a class="navbar-brand ml-5 mt-3" href="/">VIRTUAL DIARY</a></h3>
        <form class="form-inline">
                <a href="{% url 'add' %}"><button class="btn btn-outline-primary pull-right mr-3 mb-3" type="button">ADD WORK</button></a>
                <a href="{% url 'sendReport' %}"><button class="btn btn-outline-danger pull-right mr-3 mb-3" type="button">SEND REPORT</button></a>
        </form>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <div class="content-section ml-5 mr-5">
            <form method="POST">
                {% csrf_token %}
                <fieldset class='form-group'>
                    <div class="ml-5 mr-5 text-primary text-uppercase">{{ form.title|as_crispy_field }} </div> <br><br>  
                    <div class="ml-5 mr-5 text-primary text-uppercase">{{ form.author|as_crispy_field }}</div><br><br>
                    <div class="ml-5 mr-5 text-primary text-uppercase">{{ form.text|as_crispy_field }}</div>
                </fieldset>
                <br>
                <div class="form-group text-right mr-5">
                    <button class="btn btn-outline-info" type="submit">ADD TO HISTORY</button>
                </div>
            </form>
    </div>
</body>

</html>
